<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Create an account</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <div class="container-fluid col-sm-4">
            <form class="form-signin" method="POST" th:object="${userForm}" th:action="@{/registration}">
                <h2 class="form-signin-heading">Create account</h2>
                <div class="form-group">
                    <input class="form-control" type="text" th:field="*{username}" placeholder="Username" autofocus="true">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" th:field="*{password}" placeholder="Password">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
